# Ignore IntelliJ Project Files
.idea
logs
data
*.iml

# target
camel-storage-extension/target

# mess around test files
camel-storage-extension/src/test/resources/test-files
camel-storage-extension/src/test/resources/META-INF
camel-storage-extension/src/test/resources/camel.properties

# personal license
cd_licenses.xml
